
<h1>reporte de consultores</h1>
    <table class="table">
    <thead>
    <tr>
     <th style=" width:200px ">nombre</th>
     <th style="width:200px">apellido</th>
    <tr>
    </thead>
    <tbody>
      <% @consultors.each do |consultors| %>

        <tr>
        <td> <%= consultors.nombre %> </td>
        <td> <%= consultors.apellido%></td>
        <tr>
          <% end %>
    </tbody>
    </table>
